html
	head
		title PS3 Updates
		
		link(href='/style.css' rel='stylesheet')
		link(href='/favicon.ico' rel='icon' type="image/x-icon")
	body
		h1 
			a.title(href='/') PS3 Packages
		
		nav.nav
			a(
				href='/list'
			) game list

		form(
			action='/'
		)
			input(
				type='text'
				name='title'
				placeholder='search by name'
				class='search'
			)

		form(
			action='/' 
			class='id-form'
		)
			input(
				type='text'
				name='id'
				placeholder='search by game code'
				class='search'
				required pattern='[a-zA-Z0-9]{9}'
			)
			span.hint only use a-z, 0-9, with no spaces

		if !json & !list & !error
			h2 Try searching for a game...
			div.info
				h4 If the game is not on the #[a(href='/list') game list] and you don't know the code, use #[a(href='http://www.gametdb.com/PS3/List') gametdb] to find the game's id code

		if error
			h2 (╯°□°）╯︵ ┻━┻
			h3 We've had some trouble
			h4.error= error

		if json
			- var pkgs = json.titlepatch.tag[0].package
			h2= pkgs[pkgs.length-1].paramsfo[0]['TITLE']
			div.pkg-list
				each pkg in pkgs
					div.pkg
						a(href=pkg.$.url)
							h2= pkg.$.version
							p size: #{pkg.$.size}
							p sha1: #{pkg.$.sha1sum}
							p sys version: #{pkg.$.ps3_system_ver}
						
		
		if list
			if list.length == 0
				h3 nothing's here!
			ul.pkg-list
				each entry in list
					li.pkg 
						a(href='/id/' + entry.dataValues.code)= entry.dataValues.title
						span.id= entry.dataValues.code
